<%= render "shared/error" %>
<div class="confirm-container">
  <div class="confirm-content">
    <p>予約内容確認</p>
    <p>¥ <%= @room.price %> / 日</p>
    <%= form_with model: @reservation ,url: reservations_path do |f| %>
      <%= f.hidden_field :user_id, value: @current_user %>
      <%= f.hidden_field :room_id, value: @room.id %>
      <%= f.hidden_field :total_price, value: @total_price %>
      <%= f.hidden_field :people, value: @people %>
      <div class="confirm-list">
        <%= f.label :start_date, "開始日" %>
        <%= f.text_field :start_date, value: @start_date ,readonly: "readonly"%>
      </div>
      <div class="confirm-list">
        <%= f.label :end_date,"終了日" %>
        <%= f.text_field :end_date, value: @end_date ,readonly: "readonly"%>
      </div>
      <p class="confirm-p">使用日数：<%= @date %>日</p>
      <p class="confirm-p">人数：<%= @people %></p>
      <div class="confirm-list">
        <%= f.label :total_price ,"合計金額" %>
        <%= f.text_field :total_price, value: @total_price ,readonly: "readonly" %>
      </div>  
      <p class="confirm-advice">上記内容でよろしければ「予約を確定」を押してください</p>
      <div class="confirm-btn">
        <%= f.submit "予約を確定"%>
      </div>
      <div class="confirm-btn">
        <%= link_to "ルーム詳細に戻る", "/rooms/#{@room.id}" %>
      </div>
    <% end %>
  </div>
</div>
