<%= render "shared/error" %>
<div class="regist-room-container">
  <h1>登録済みルーム一覧</h1>
  <div class="regist-room-content">
    <div class="regist-rooms scroll">
      <table class="regist-rooms-table">
        <thead>
          <tr class="regist-room-tr">
            <th>ルーム画像</th>
            <th>ルーム名</th>
            <th>ルーム紹介</th>
            <th>料金</th>
            <th>作成日時</th>
          </tr>
        </thead>
        <% @rooms.each do |room| %>
        <tbody>
          <tr class="regist-room-tr">
            <td><%= link_to image_tag(room.image.url),"/rooms/#{room.id}" %></td>
            <td><%= link_to room.room_name, "/rooms/#{room.id}",class:"reserve-room-link" %></td>
            <td><%= room.introduction %></td>
            <td>¥ <%= room.price %></td>
            <td><%= room.created_at.to_s(:datetime_jp) %></td>
          </tr>
        </tbody>
        <% end %>
      </table>
    </div>
  </div>
</div>
